fastapi
uvicorn
sqlalchemy
pymysql
pandas
scikit-learn
lightgbm
shap
requests
python-dotenv
pytest
xlrd
beautifulsoup4
joblib
streamlit==1.36.0
httpx
xgboost
beautifulsoup4
fastapi
httpx
joblib
lightgbm
pandas
pymysql
pytest
python-dotenv
requests
scikit-learn
shap
sqlalchemy
streamlit
uvicorn
xgboost
xlrd